body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0 ! important;
}


/*** HEADER ***/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15vw;
    position: sticky;
    top: 0;
    background-color: #85CDF5;
    padding: 5px 30px;
    z-index: 100;
}

.sublinhado {
    text-decoration: none;
    color: black;
    font-family: "Darker Grotesque";
    font-size: 2rem;
    background-image: linear-gradient(270deg, #2C5680 0%, #DEB959 100%);
    background-repeat: no-repeat;
    background-size: 0% 3px;
    background-position: left bottom;
    transition: background-size 500ms ease;
    cursor: pointer;
    font-weight: 700;
}

.sublinhado:hover {
    background-size: 100% 3px;
}

.img_header {
    width: 90%;
}


/*** MAIN ***/

/* Section adote um lobinho */
.adote_um_lobinho {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("imgs/banner_principal.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 75vh;
}

#titulo_body_inicial {
    color: #fafafa;
    font-family: "Darker Grotesque";
    font-size: 96px;
    font-weight: 700;
    margin: 3.5rem;
    text-align: center;
    text-shadow: 2px 1px 10px #000000b9;
}

#texto_body_inicial {
    color: #fafafa;
    font-family: "Darker Grotesque";
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    text-shadow: 2px 1px 10px #000000b9;
    padding: 0em 2em 2em 2em;
}

/* Section sobre */
.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C5680;
}

#subtitulo {
    color: #DEB959;
    font-family: "Darker Grotesque";
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

/* Section valores */
.valores {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #333333;
}

.group_values {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0em 4em 5em 4em;
}

.div_value {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

.elipse_img_value {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.head_value {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    color: #FFFFFF;
    padding: .5em;
}

.paragraph_value {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 20px;
    color: #FFFFFF;
}

@media (max-width: 1100px) {
    .group_values {
        flex-direction: column;
        margin: 0em 10em 0em 10em;
    }
}

/* Section lobos exemplo */
.lobinhos {
    margin: 2em 10em;
}

.grupo1,
.grupo2 {
    display: flex;
}

.grupo2 {
    flex-direction: row-reverse;
    margin-top: 4em;
}

.dados_do_lobo1 {
    margin-left: 4rem;
}

.dados_do_lobo2 {
    text-align: right;
    margin-right: 4rem;
}

#figura1 img{
    width: 370px;
}

#nome_do_lobo {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
}

#idade {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
}

#descricao {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    margin-top: 1.5em;
}

/*Dive Value "Background IMG LOBO ESQUERDA*/
.div_value_5_left {
    position: absolute;
    width: 360px;
    height: 275px;
    background-color: #2C5680;
    transform: translate(-10%, -10%);
    border: 4px solid #333333;
    z-index: -1;
}

/*Dive Value "Background IMG LOBO DIREITA*/
.div_value_5_right {
    position: absolute;
    width: 360px;
    height: 275px;
    background-color: #2C5680;
    transform: translate(10%, -10%);
    border: 4px solid #333333;
    z-index: -1;
}

@media (max-width: 1150px) {

    .grupo1,
    .grupo2 {
        flex-direction: column;
        align-items: center;
    }
}

/*** SECTION NOSSOS LOBINHOS ***/
.pesquisa {
    display: flex;
    flex-direction: column;
    margin: 4em 10em;
}

#img_pesquisa {
    width: 30px;
    transform: translate(120%, 0%)
}

.div_pesquisa{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.input_pesquisa{
    width: 60vw;
    height: 40px;
    margin-right: .5vw;
}

.label_checkbox {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    padding: 2em 0em;
    color: #353535;
}

#btn_pesquisar, #btn_adotar {
    background-color: #DEB959;
    color: #FFFFFF;
    font-family: "Darker Grotesque";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    padding: 0px 20px;
}

.grupo1 #btn_adotar {
    padding: 2px 40px;
    transform: translate(200%, -120%);
}

.grupo2 #btn_adotar {
    padding: 2px 40px;
    transform: translate(-200%, -120%);
}

.html_lista #descricao {
    margin: 0% 0% 5% 0%;
}

/*** SECTION SHOW LOBINHO ***/

.show_lobinho_titulo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 0em 2em 0em;
}

.show_btns {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.show_btn_adopt {
    background-color: #7AAC3A;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 40px;
}

.show_btn_delete {
    background-color: #DE5959;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 40px;
}

/*** SECTION QUEM SOMOS ***/
.quem_somos_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3% 15%;
}

#quem_somos_titulo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
}

#quem_somos_descricao {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.155em;
    text-align: center;
    margin-top: 2em;
}

/*** FOOTER QUEM SOMOS ***/

.html_quem_somos,
.body_quem_somos {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

div.body_quem_somos {
    padding-bottom: 100px;
}

.footer_quem_somos {
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
}

/*** FOOTER ***/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20%;
    background-color: #333333;
}

.line {
    height: .5vh;
    width: 100%;
    background: linear-gradient(270deg, #2C5680 0%, #DEB959 100%);
    position: relative;
    bottom: 26.2%;
}

.footer_direita {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fafafa;
    margin-left: 50px;
}

.footer_esquerda {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    align-items: center;
}

.info {
    margin-bottom: 2%;
    font-family: "Darker Grotesque";
    color: #fafafa;
    font-size: 18px;
    line-height: 15px;
    font-weight: 400;
}

.icon_footer {
    margin-right: 10px;
}

#btn_footer {
    background-color: #DEB959;
    font-family: "Darker Grotesque";
    color: #333333;
    font-weight: 700;
    font-size: larger;
}

#rotulo_imagem_footer {
    color: #fafafa;
    text-align: center;
}


/*******ADICIONAR_LOBINHO.HTML*******/
/* .adicionar_lobinho_main {
    position: relative;
    display: flex;
    justify-content: center;
    
    width: 100vw;
    height: 110vh;

    background: white;
} */

.adicionar_lobinho_body {
    font-family: 'Darker Grotesque';
    font-weight: 600;
}

.adicionar_lobinho_main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adicionar_lobinho_rectangle {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 65vw;
    height: 140vh;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 3% 1% 0% 2%;

    border-width: 5px;
    border-style: solid;
    border-color: black;
}

.adicionar_lobinho_title {
    position: relative;
    width: fit-content;
    height: 19%;

    font-size: 4.5vw;
    line-height: 81px;
    text-align: center;
    color: #000000;
}

.adicionar_lobinho_form {
    position: relative;
    width: 86.7%;
    height: 77%;
    display: flex;
    flex-direction: column;
    gap: 1.5%;
}

.adicionar_lobinho_div_name_and_age {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 2%;
    height: 20%;
}

.adicionar_lobinho_div_name {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12%;
    width: 70%;

    font-size: 2.3vmax;
    font-weight: 520;
}

.adicionar_lobinho_div_age {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12%;
    width: 30%;

    font-size: 2.3vmax;
    font-weight: 520;
}

.adicionar_lobinho_div_link {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    gap: 12%;

    font-size: 2.3vmax;
    font-weight: 520;
}

.adicionar_lobinho_div_description {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    gap: 5%;

    font-size: 2.3vmax;
    font-weight: 520;
}

/**All the inputs style of color and border**/
.adicionar_lobinho_input {
    background: #E6E6E6;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

/*Each input size*/
.input_name {
    height: 33%;
}
.input_age {
    height: 33%;
}
.input_link {
    height: 34%;
}
.input_description {
    height: 100%;
}

.adicionar_lobinho_button {
    position: relative;
    margin-top: 3%;
    align-self: center;
    width: 26%;
    height: 13%;

    background: linear-gradient(0deg, #2C5680, #2C5680),
    linear-gradient(0deg, #333333, #333333);
    font-size: 1.7vmax;
    line-height: 28px;
    color: #FFFFFF;

    border-width: 1px;
    border-style: solid;
    border-color: black;
}

/****ADOTAR_lOBINHO.HTML****/
.adotar_lobinho_main {
    width: 100vw;
    height: 130vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5%;
    font-family: 'Darker Grotesque';
}
.adotar_lobinho_wolf {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 3%;
    height: 65%;
    width: 70%;
    top: 12%;
}

.adotar_lobinho_img {
    display: flex;
    position: relative;
    height: 75%;
    width: 28%;
    border-radius: 50%;
    background: url("imgs/fotoLobo2.png");
}

.adotar_lobinho_info {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 9%;
    
    width: 65%;
    font-weight: bold;
}

.adotar_lobinho_title {
    position: relative;
    width: fit-content;
    height: 19%;

    font-size: 4.2vw;
    line-height: 81px;
    text-align: center;
    color: #000000;
}

.adotar_lobinho_input {
    background-color: transparent;
    color: #000000;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #000000 1px;
}

.adotar_lobinho_form {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 3%;
    width: 69%;
    height: 80%;
    top: 6%;
}

.adotar_lobinho_div_name {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12%;
    width: 90%;

    font-size: 2.3vmax;
    font-weight: 500;
}

.adotar_lobinho_subtitle_name {
    margin-bottom: 2%;
}

.adotar_lobinho_div_age {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 29.15%;
    width: 10%;

    font-size: 2.3vmax;
    font-weight: 500;
}

.adotar_lobinho_div_email {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30%;
    width: 100%;
    height: 17%;
    margin-bottom: 4%;

    font-size: 2.3vmax;
    font-weight: 500;
}


@media (max-width: 1200px) {
    footer {
        flex-direction: column;
    }

    .footer_esquerda {
        flex-direction: column;  
    }
}